
.custom-container {
    background: white !important;
  }
  
  .movie {
    margin: 25px;
  }
  .movie-img {
    height: 300px;
    width: 260px;
    border-radius: 10px;
  }
  
  .button {
    position: relative;
    top: 35px;
    background: #162252 !important;
  }
  
  .custom-background {
    background-color: #162252 !important;
  }

  .individual-card {
    margin-top: 45px;
    background: white !important;
  }
  
  #search {
    height: 60px !important;
    background: #F8F8F8;
  }
  
  .summary {
    height: 165px;
    overflow-y: scroll;
  }
  .card {
    border: none !important;
  }

