
.custom-container {
    background: white;
  }
  
  .searchForm {
    width: 70%;
    margin: 15px auto;
    position: relative;
    top: 20px;
    z-index: 99;
  }
  
  .search-icon {
    position: relative;
    z-index: 9;
    top: 20px;
    right: 35px;
    font-size: 20px;
  }
  
  ul {
    padding: 0;
    width: 100%;
    list-style: none;
    background: white;
  }
  
  .movie-detail {
    position: relative;
    top: 15px;
    height: 285px;
  }
  
  .movie {
    margin: 25px;
  }
  .movie-img {
    height: 300px;
    width: 260px;
    border-radius: 10px;
  }
  
  .button {
    position: relative;
    top: 35px;
    background: #162252 !important;
  }
  
  .searchButton {
    background: #162252 !important;
    height: 55px !important;
    color: white !important;
    width: 110px !important;
    border-radius: 12px !important;
    font-weight: 900 !important;
  }
  
  
  #search {
    height: 60px !important;
    background: #F8F8F8;
  }
  
  .summary {
    height: 165px;
    overflow-y: scroll;
  }
  .card {
    border: none !important;
  }